body{
  background-color: #e6e6e6;
  min-height: 800px;
  }


nav{
  background-color:rgb(214, 211, 211) ;
  display: flex;
  justify-content: center;
  
  padding: 15px;
  font-size: 14px;
}
.link{
  padding: 7px 30px;
  text-decoration: none;
  color: #ac7e4c;
  font-weight: 100;
  text-transform: uppercase;
  font-weight: bold;
}
h2{
  color: #ac7e4c;
  text-shadow: 1px 1px black;
  font-size: 33px;
  text-align: center;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
h1{
  
  color: #1b2631;
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  letter-spacing: 3px;
  text-shadow: 1px 1px #ac7e4c;
  text-align: center;
  margin: 0;

}
.our{
  font-family: 'EB Garamond', serif;
  font-style: italic;
  margin: 0;
  font-size: 40px;
  color: #3c3a3d;
  text-align: center;

}
img{
  margin-top: 20px;
}

.next{
  
  margin: 25px;
  width: 120px;
  padding: 5px;
  background-color: #ac7e4c;
  border: none;
  color: #e6e6e6;
  font-size: 16px;
  font-weight: bold;
  
}
.top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.change {

  background-color: #ac7e4c;
  margin: 15px;
  color: white;
  font-size: 15px;
  font-style: italic;
  padding: 8px;
  border-radius: 20px;
  border: none;

  font-family: 'Encode Sans Semi Expanded', sans-serif;

}
.stop{
  margin-top: 40px;
}
.btnClass{
  margin-top: 100px;
  background-color: #ac7e4c;
  margin: 15px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  padding: 9px;
  width: 270px;
  border: none;
  text-decoration: none;
}
h3{
 text-align: center;
  margin-left: 160px;
  margin-right: 160px;
  font-style: italic;
 
}
.class{
  font-weight: bold;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}

ul{
  text-align: center;
}
.par{
  font-size: 17px;
  color: #ac7e4c;
  font-weight: bold;
  margin-left: 110px;
  margin-right: 110px;
  text-align: center;
}


.products {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.product-card {

  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  margin: 20px;

}
.name, .description{
  text-align: center;
  margin: 0;
  
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 60px;
  width: 240px;
  
}

.toTie{
  color: #1b2631;
  font-family: 'EB Garamond', serif;
  font-size: 25px;
  letter-spacing: 3px;
  text-shadow: 1px 1px #ac7e4c;
  font-style: normal;
}
.about{
  color: #ac7e4c;
  text-align: center;
  font-weight: bold;
  width: 800px;
}
.hide{
  border: none;
  color: #ac7e4c;
  font-style: italic;
  font-weight: bold;
}

.search{
  margin: 0;
  color: #e6e6e6;
}
span{
  color: #ac7e4c;
}
.letters{
  font-size: 18px;
}
.findOut{
  display: flex;
}
.letter{
  margin:  12px;
  font-size: 19px;
  font-weight: bold;
  color: black;
}
.letter:hover{
  color:#ac7e4c;
}

.foot{
  font-size: 21px;
  color: black;
}
.foot:hover{
  color: #ac7e4c;
}
.plus{
  font-size: 12px;
  text-align: center;
}